
html {
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #cb90b2, #bf93bb, #b397c1, #a59ac5, #989dc6, #8ea2c9, #86a6c9, #7faac8, #7ab1c8, #79b8c7, #7cbec3, #83c3be);
  color: #353535;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 80%;
  margin: auto;
  padding: 10px;
}

header > .menu {
  position: fixed;
  right: 10%;
  z-index: 7;
}

.tag-line > span {
  display: inline-block;
  color: #FFF8E1;
  background-color: rgba(0.98, 0.95, 0.96, 0.7);
  border-radius: 10px;
  padding: 5px 13px;
  border: 3px double #F3DFA4;
}

span.just {
  margin-left: 5px;
  position: relative;
  bottom: 1px;
  font-size: 20px;
}

.menu-btn {
  background-color: #cc4191;
  padding: 9px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn > span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.links {
  background-color: #FAF2F4;
  position: absolute;
  right: 0;
  top: 53px;
  border-radius: 5px;
  display: none;
  border: 1px solid #D1D1D1;
}

.links > a {
  display: block;
  width: 500px;
  text-decoration: none;
  padding: 20px 0 20px 80px;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #D1D1D1;
}

.link-text {
  position: relative;
  top: 4px;
  left: 15px;
  color: #424242;
}

a.last-link {
  border-bottom: none;
}

.pattern-back {
  width: 70%;
  background-image: url("images/pattern-back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto 50px auto;
}

.pattern-back > h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Merienda", cursive;
  color: #ba275d;
  font-weight: bold;
}

p.tailored {
  margin-bottom: 10px;
  background-color: white;
  display: inline-block;
}

span.service {
  background-color: #2E2E2E;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  display: inline-block;
}

img.tag {
  height: 280px;
  margin-top: 15px;
  animation: moveAndSwing 5s infinite ease-in-out;
}

.action {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.action > a {
  display: inline-block;
  background-color: #C60026;
  color: white;
  padding: 12px 14px;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  opacity: 0.9;
  border: 3px solid #C60026;
}

a.action-order {
  border: 3px double #C60026;
  background: white;
  color: #353535;
}

@keyframes moveAndSwing {
  0% {
      transform: rotate(20deg);
  }
  25% {
      transform: rotate(40deg);
  }
  50% {
      transform: rotate(20deg);
  }
  75% {
      transform: rotate(30deg);
  }
  100% {
      transform: rotate(20deg);
  }
}

.company {
  margin-top: 10px;
}

.company > p {
  font-size: 20px;
}

.company > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

main {
  margin-top: 50px;
  margin-bottom: 100px;
  flex: 1;
}

section {
  width: 780px;
  margin: auto;
  margin-bottom: 60px;
}

div.process-cont {
  padding: 20px 5px;
}

p.process {
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
  background-color: rgba(204, 65, 145, 0.8);
  border-radius: 7px;
  padding: 5px 10px;
}

p.process > a {
  color: white;
  padding: 2px 7px 0 5px;
  font-size: 20px;
}

footer {
  text-align: center;
  color: white;
  background-color: rgba(0.98, 0.95, 0.96, 0.5);
  border-radius: 10px 10px 0 0;
  width: 70%;
  margin: auto;
}

.footer-image {
  width: 100%;
}

.footer-info {
  font-size: 2.7vw;
  padding: 20px;
}

.footer-icon {
  width: 10vw;
}

.footer-link {
  color: white;
  display: inline-block;
  font-size: 2.5vw;
}

.copyright {
  display: inline-block;
  margin: 5px 0;
  font-size: 2.2vw;
  font-style: italic;
}

.footer-image-one {
  border-radius: 10px 0 0 0;
}

.pricing {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.pricing > a {
  display: inline-block;
  background-color: #C60026;
  color: white;
  padding: 13px 15px 15px 15px;
  border-radius: 28px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  opacity: 0.9;
}

a.order {
  background-color: white;
  color: black;
}

.image-col, .word-col {
  height: 460px;
}

.first .word-col {
  background-image: linear-gradient(to right top, #78909c, #7696a8, #749cb5, #73a2c2, #73a7cf, #6cabd5, #64b0da, #5bb4df, #49b9da, #3dbdd2, #3dc0c7, #48c2ba);
}

.second .word-col {
  background-image: linear-gradient(to left top, #757575, #7e7d89, #84869d, #898fb3, #8a99c9, #8e9ad1, #939ada, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
}

.third .word-col {
  background-image: linear-gradient(to right top, #00a675, #00ab96, #00aeb3, #00afca, #30afd9, #41b1db, #4fb2dd, #5bb4df, #49b9da, #3dbdd2, #3dc0c7, #48c2ba);
}

.fourth .word-col {
  background-image: linear-gradient(to left top, #757575, #7e7d89, #84869d, #898fb3, #8a99c9, #8e9ad1, #939ada, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
}

.fifth .word-col {
  background-image: linear-gradient(to right top, #78909c, #7696a8, #749cb5, #73a2c2, #73a7cf, #6cabd5, #64b0da, #5bb4df, #49b9da, #3dbdd2, #3dc0c7, #48c2ba);
}

.image-col > img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.word-col {
  border-radius: 0 20px 20px 0;
  color: #1F1F1F;
}

.alt-word {
  border-radius: 20px 0 0 20px;
}

.alt-image > img {
  border-radius: 0 20px 20px 0;
}

.word-col > p {
  text-align: center;
  margin-top: 40px;
  padding: 40px;
  font-size: 40px;
  font-family: "Comic Neue", cursive;
  text-transform: capitalize;
}

.question-section {
  padding: 0 10px;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
}

.question-cont {
  margin: 0;
  margin-top: 80px;
}

.question {
  padding: 20px 30px 10px 30px;
  background-color: white;
  border-radius: 20px;
  color: black;
  height: 100%;
}

.question h4 {
  border-bottom: 3px solid #9C526D;
  color: #482734;
  padding: 10px;
  padding-top: auto;
  text-transform: uppercase;
}

.question ul {
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding-left: 0;
}

.why {
  margin-bottom: 30px;
}

.why > b {
  text-transform: capitalize;
  color: #482734;
  font-size: 19px;
}

.why > span {
  font-size: 18px;
  color: #424242;
}


@media only screen and (max-width: 1200px) {
  section {
    width: 70%;
  }
  
  .image-col, .word-col {
    height: 420px;
  }
  
  .word-col > p {
    margin-top: 35px;
    padding: 35px; 
    font-size: 35px;
  }
  
  .pattern-back {
    width: 80%;
  }
  
}


@media only screen and (max-width: 992px) {
  .pattern-back {
    width: 99%;
  }
  
  section {
    width: 80%;
  }
  
  .image-col, .word-col {
    height: 380px;
  }

  .word-col > p {
    margin-top: 25px;
    padding: 25px;
    font-size: 33px;
  }
  
  .why > b {
    font-size: 17px;
  }
  
  .why > span {
    font-size: 16px;
  }
  
  .company > p {
    font-size: 18px;
  }
  
  .company > img {
    width: 60px;
    height: 60px;
  }
  
  .links > a {
    font-size: 18px;
    width: 400px;
    padding: 18px 0 18px 65px;
  }
  
  img.tag {
    height: 260px;
    margin-top: 10px;
  }
  
  .action>a {
    padding: 10px 12px;
    font-size: 18px;
  }
  
  span.just {
    font-size: 18px;
  }

}


@media only screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  
  section {
    width: 90%;
  }
  
  .image-col, .word-col {
    height: 340px;
  }
  
  .pricing > a {
    padding: 10px 12px 12px 12px;
    border-radius: 25px;
    font-size: 14px;
  }
  
  header {
    width: 100%;
  }
  
  .menu-btn > span {
    display: none;
  }
  
  header > .menu {
    right: 10px;
  }
  
  p.process > a {
    font-size: 18px;
  }
  
  .word-col > p {
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
  }
  
  footer {
    width: 100%;
  }
  
  .footer-info {
    font-size: 3.7vw;
  }
  
  .footer-icon {
    width: 15vw;
  }
  
  .footer-link {
    font-size: 3.4vw;
  }
  
  .copyright {
    font-size: 3vw;
  }

  
}


@media only screen and (max-width: 576px) {
  section {
    width: 65%;
  }
  
  .image-col, .word-col {
    height: 310px;
    flex-basis: 100%;
  }
  
  .start-price {
    font-size: 25px;
    padding: 10px 20px;
  }
  
  .image-col > img {
    border-radius: 20px 20px 0 0;
  }
  
  .alt-image > img {
    border-radius: 0 0 20px 20px;
  }
  
  .word-col {
    border-radius: 0 0 20px 20px;
  }
  
  .alt-word {
    border-radius: 20px 20px 0 0;
  }
  
  .company > p {
    font-size: 16px;
  }
  
  .company > img {
    width: 50px;
    height: 50px;
  }
  
  .links > a {
    font-size: 16px;
    width: 350px;
    padding: 16px 0 16px 50px;
  }
  
  img.tag {
    height: 240px;
  }
  
  .action>a {
    font-size: 16px;
  }
  
  span.just {
    font-size: 16px;
  }
  
  .word-col > p {
    margin-top: 15px;
    padding: 15px;
  }
  
  .why>b {
    font-size: 16px;
  }
  
  .why>span {
    font-size: 15px;
  }
  
}

@media only screen and (max-width: 500px) {
  section {
    width: 70%;
  }
  .image-col, .word-col {
    height: 300px;
  }
}

@media only screen and (max-width: 430px) {
  section {
    width: 75%;
  }
  .image-col, .word-col {
    height: 290px;
  }
}

@media only screen and (max-width: 374px) {
  .links > a {
    width: 300px;
    padding: 14px 0 14px 20px;
  }
  
  .link-text {
    left: 10px;
  }
  
  .word-col > p {
    font-size: 25px;
  }
  
}