
html {
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #d16ba5, #d16ba5, #d16ba5, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1, #5ffbf1, #5ffbf1, #5ffbf1);
  padding: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

header {
  width: 80%;
  margin: auto;
}

header > .menu {
  position: fixed;
  right: 10px;
  z-index: 7;
}

.menu-btn {
  background-color: #d16ba5;
  padding: 9px 10px;
  border-radius: 5px;
}

.menu-btn > span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.links {
  background-color: #FAF2F4;
  position: absolute;
  right: 0;
  top: 46px;
  border-radius: 5px;
  display: none;
  border: 1px solid #D1D1D1;
}

.links > a {
  display: block;
  width: 350px;
  color: black;
  text-decoration: none;
  padding: 15px 0 15px 50px;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #D1D1D1;
}

.link-text {
  position: relative;
  top: 4px;
  left: 15px;
}

a.last-link {
  border-bottom: none;
}

header > h4 {
  text-align: center;
  margin-top: 50px;
  color: black;
  text-transform: uppercase;
  font-family: "Merienda", cursive;
}

p.tailored {
  margin-bottom: 30px;
}

.start-price {
  border: 1px solid #D1D1D1;
  font-size: 32px;
  padding: 10px 25px;
  border-radius: 13px;
  color: #EEEEEE;
  background-color: rgba(0.98, 0.95, 0.96, 0.1);
}

.company {
  margin-top: 10px;
}

.company > p {
  font-size: 12px;
}

.company > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main {
  margin-top: 110px;
  margin-bottom: 140px;
}

section {
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
}

p.process {
  text-align: center;
  margin-bottom: 60px;
}

p.process > a {
  color: black;
  padding: 2px 7px 0 5px;
}

footer {
  margin-bottom: 200px;
  text-align: center;
}

footer > a {
  color: black;
}

.pricing {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.pricing > a {
  background-color: #C60026;
  color: white;
  padding: 13px 15px 15px 15px;
  border-radius: 28px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a.order {
  background-color: white;
  color: black;
}

.image-col, .word-col {
  height: 460px;
}

.first .word-col {
  background-image: linear-gradient(to right top, #78909c, #7596aa, #749bb8, #76a0c7, #7aa4d5, #76ade1, #71b6ed, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.third .word-col {
  background-image: linear-gradient(to right top, #00a675, #00ab9a, #00aebb, #00afd4, #36ade3, #4ab3ea, #5ab9f1, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.second .word-col {
  background-image: linear-gradient(to left top, #757575, #7e7d89, #84869d, #898fb3, #8a99c9, #8e9ad1, #939ada, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
}

.fourth .word-col {
  background-image: linear-gradient(to left top, #757575, #7e7d89, #84869d, #898fb3, #8a99c9, #8e9ad1, #939ada, #9a9ae1, #aa8fd8, #ba83ca, #c777b9, #d16ba5);
}

.fifth .word-col {
  background-image: linear-gradient(to right top, #78909c, #7596aa, #749bb8, #76a0c7, #7aa4d5, #76ade1, #71b6ed, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.image-col > img {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.word-col {
  border-radius: 0 20px 20px 0;
}

.alt-word {
  border-radius: 20px 0 0 20px;
}

.alt-image > img {
  border-radius: 0 20px 20px 0;
}

.word-col > p {
  text-align: center;
  margin-top: 40px;
  padding: 40px;
  font-size: 35px;
  font-family: "Comic Neue", cursive;
}



@media only screen and (max-width: 1200px) {
  section {
    width: 70%;
  }
  
  .image-col, .word-col {
    height: 420px;
  }
}


@media only screen and (max-width: 992px) {
  section {
    width: 80%;
  }
  
  .image-col, .word-col {
    height: 380px;
  }

  .word-col > p {
    margin-top: 30px;
    padding: 30px;
    font-size: 30px;
  }

}


@media only screen and (max-width: 768px) {
  section {
    width: 90%;
  }
  
  .image-col, .word-col {
    height: 340px;
  }
  
  .word-col > p {
    margin-top: 20px;
    padding: 20px;
    font-size: 25px;
  }
  
  .pricing > a {
    padding: 10px 12px 12px 12px;
    border-radius: 25px;
    font-size: 14px;
  }
  
  header {
    width: 100%;
  }
  
  body {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  
  .menu-btn > span {
    display: none;
  }
  
}


@media only screen and (max-width: 576px) {
  section {
    width: 100%;
  }
  
  .image-col, .word-col {
    height: 290px;
  }
  
  p.tailored {
    font-size: 18px;
  }
  
  .start-price {
    font-size: 25px;
    padding: 10px 20px;
  }

}