html {
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #d16ba5, #d16ba5, #d16ba5, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1, #5ffbf1, #5ffbf1, #5ffbf1);
  font-size: 15px;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

header {
  width: 80%;
  margin: auto;
  padding: 10px;
}

header > .menu {
  position: fixed;
  right: 10%;
  z-index: 7;
}

.tag-line > span {
  position: relative;
  top: 3px;
}

.menu-btn {
  background-color: #d16ba5;
  padding: 9px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn > span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.links {
  background-color: #FAF2F4;
  position: absolute;
  right: 0;
  top: 46px;
  border-radius: 5px;
  display: none;
  border: 1px solid #D1D1D1;
}

.links > a {
  display: block;
  width: 350px;
  color: black;
  text-decoration: none;
  padding: 15px 0 15px 50px;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #D1D1D1;
}

.link-text {
  position: relative;
  top: 4px;
  left: 15px;
}

a.last-link {
  border-bottom: none;
}


header > h4 {
  text-align: center;
  margin-top: 40px;
  color: black;
}

.company {
  margin-top: 10px;
}

.company > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.company > p {
  font-size: 12px;
}

main {
  margin-top: 20px;
  margin-bottom: 160px;
}

p.process {
  text-align: center;
  margin: 0;
}

p.process > a {
  color: black;
  padding: 2px 7px 0 5px;
}

a.order {
  background-color: #C60026;
  color: white;
  padding: 13px 15px 15px 15px;
  border-radius: 28px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.snip1517 {
  font-size: 16px;
  margin: 0 10px;
}

.snip1517 .plan {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background-image: linear-gradient(to right, #faf2f4, #faf2f4, #faf2f4, #faf2f4, #faf2f4, #f8f0f2, #f6edf0, #f4ebee, #f0e6e9, #ebe1e5, #e7dde0, #e3d8dc);
  border-radius: 15px;
  height: 100%;
}

.snip1517 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.snip1517 .plan-title {
  line-height: 50px;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 20px;
  font-size: 1.6em;
  letter-spacing: 2px;
  font-weight: 700;
  color: #1565C0;
  text-align: center;
}

.snip1517 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 20px;
  width: 60px;
  height: 3px;
  background-color: #BDBDBD;
}

.snip1517 .plan-cost {
  padding: 0 20px;
  margin: 0;
}

.plan-offer {
  display: inline-block;
  font-size: 12px;
  color: white;
  background-color: #3E7596;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  position: relative;
  bottom: 3px;
}

.offer-ends {
  font-weight: bold;
}

.snip1517 .plan-price {
  font-weight: 500;
  font-size: 1.5em;
  margin: 10px 0 0 0;
  display: inline-block;
  color: #424242;
}

.snip1517 .nego {
  background-color: #FF8F00;
  color: white;
  border-radius: 7px;
  padding: 0 7px 2px 7px;
  font-size: 11px;
}

.snip1517 .plan-features {
  padding: 0 0 20px;
  margin: 20px 0 0 0;
  list-style: outside none none;
  font-size: 15px;
}

.snip1517 .plan-features li {
  padding: 10px 20px;
  position: relative;
}

.snip1517 .plan-features li:before {
  content: "•";
  color: #1565C0;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

li.plus:after {
  content: "+";
  color: #FF8F00;
  font-size: 22px;
  margin-left: 5px;
  position: absolute;
  top: 8px;
}

footer {
  text-align: center;
  color: white;
  background-color: rgba(0.98, 0.95, 0.96, 0.4);
  border-radius: 10px 10px 0 0;
}

.footer-image {
  width: 100%;
}

.footer-info {
  font-size: 3.3vw;
  padding: 20px;
}

.footer-icon {
  width: 15vw;
}

.footer-link {
  color: white;
  display: inline-block;
  font-size: 3vw;
}

.copyright {
  display: inline-block;
  margin: 5px 0;
  font-size: 2.5vw;
  font-style: italic;
}

.footer-image-one {
  border-radius: 10px 0 0 0;
}



@media only screen and (max-width: 1200px) { }


@media only screen and (max-width: 992px) { }


@media only screen and (max-width: 768px) {
  
  header {
    width: 100%;
  }
  
  body {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  
  a.order {
    padding: 10px 12px 12px 12px;
    border-radius: 25px;
    font-size: 14px;
  }
  
  .menu-btn > span {
    display: none;
  }
  
  header > .menu {
    right: 10px;
  }
  
}


@media only screen and (max-width: 576px) {
  
  header > h4 {
    font-size: 18px;
  }
  
}


@media only screen and (max-width: 374px) {
  .links > a {
    width: 300px;
  }
}





