html {
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #d16ba5, #d16ba5, #d16ba5, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1, #5ffbf1, #5ffbf1, #5ffbf1);
  padding: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

header {
  width: 80%;
  margin: auto;
}

header > .menu {
  position: fixed;
  right: 10%;
  z-index: 7;
}

.tag-line > span {
  position: relative;
  top: 3px;
}

.menu-btn {
  background-color: #d16ba5;
  padding: 9px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn > span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.links {
  background-color: #FAF2F4;
  position: absolute;
  right: 0;
  top: 46px;
  border-radius: 5px;
  display: none;
  border: 1px solid #D1D1D1;
}

.links > a {
  display: block;
  width: 350px;
  color: black;
  text-decoration: none;
  padding: 15px 0 15px 50px;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 1px solid #D1D1D1;
}

.link-text {
  position: relative;
  top: 4px;
  left: 15px;
}

a.last-link {
  border-bottom: none;
}


header > h4 {
  text-align: center;
  margin-top: 40px;
  color: black;
}

.company {
  margin-top: 10px;
}

.company > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.company > p {
  font-size: 12px;
}

main {
  margin-bottom: 140px;
}

.process-bar {
  background-color: rgba(0.98, 0.95, 0.96, 0.3);
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  z-index: 3;
}

.process-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px 0;
}

.inactive-process-btn {
  background-color: #FAF2F4;
  color: black;
}

.present {
  border-radius: 10px 0 0 10px;
}

.graphic {
  border-radius: 0 10px 10px 0;
}

.present-section {
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 80px;
}

.graphic-section {
  width: 40%;
  margin: auto;
  padding-top: 80px;
  display: none;
}

img.infographic {
  width: 100%;
  border-radius: 5px;
}

.carousel-item > img {
  border-radius: 5px;
}

footer {
  margin-bottom: 200px;
  text-align: center;
}

footer > a {
  color: black;
}




@media only screen and (max-width: 1200px) {
  .present-section {
    width: 55%;
  }
  
  .graphic-section {
    width: 45%;
  }
}


@media only screen and (max-width: 992px) {
  .process-bar {
    width: 80%;
  }
  
  .present-section {
    width: 65%;
  }
  
  .graphic-section {
    width: 55%;
  }
}


@media only screen and (max-width: 768px) {
  
  header {
    width: 100%;
  }
  
  body {
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  
  .menu-btn > span {
    display: none;
  }
  
  .process-bar {
    width: 100%;
  }
  
  .present-section {
    width: 80%;
  }
  
  .graphic-section {
    width: 70%;
  }
  
  header > .menu {
    right: 10px;
  }
  
}


@media only screen and (max-width: 576px) {
  
  header > h4 {
    font-size: 18px;
  }
  
  .present-section {
    width: 100%;
  }
  
  .graphic-section {
    width: 90%;
  }
}


@media only screen and (max-width: 374px) {
  .links > a {
    width: 300px;
  }
}

