html {
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #874a6d, #81517b, #775987, #6c6191, #5f6998, #53719e, #4778a1, #3c7fa2, #2f87a3, #288fa1, #2c969c, #3a9c95);
  color: #EEEEEE;
  font-size: 17px;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 80%;
  margin: auto;
  padding: 10px;
}

header > .menu {
  position: fixed;
  right: 10%;
  z-index: 7;
}

.tag-line > span {
  position: relative;
  top: 3px;
}

.menu-btn {
  background-color: #ba6696;
  padding: 9px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn > span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.links {
  background-color: #FAF2F4;
  position: absolute;
  right: 0;
  top: 46px;
  border-radius: 5px;
  display: none;
  border: 1px solid #D1D1D1;
}

.links > a {
  display: block;
  width: 400px;
  color: black;
  text-decoration: none;
  padding: 15px 0 15px 50px;
  text-transform: uppercase;
  font-size: 17px;
  border-bottom: 1px solid #D1D1D1;
}

.link-text {
  position: relative;
  top: 4px;
  left: 15px;
}

a.last-link {
  border-bottom: none;
}


header > h4 {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
}

.company {
  margin-top: 10px;
}

.company > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.company > p {
  font-size: 14px;
}

main {
  margin-bottom: 160px;
  padding: 0 10px;
  flex: 1;
}

.process-bar {
  background-color: rgba(0.98, 0.95, 0.96, 0.3);
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  z-index: 3;
}

.process-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px 0;
}

.inactive-process-btn {
  background-color: #FAF2F4;
  color: black;
}

.present {
  border-radius: 10px 0 0 10px;
}

.graphic {
  border-radius: 0 10px 10px 0;
}

.present-section {
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 80px;
}

.graphic-section {
  width: 40%;
  margin: auto;
  padding-top: 80px;
  display: none;
}

img.infographic {
  width: 100%;
  border-radius: 5px;
}

.carousel-item > img {
  border-radius: 5px;
}

footer {
  text-align: center;
  color: white;
  background-color: rgba(0.98, 0.95, 0.96, 0.4);
  border-radius: 10px 10px 0 0;
}

.footer-image {
  width: 100%;
}

.footer-info {
  font-size: 3.3vw;
  padding: 20px;
}

.footer-icon {
  width: 15vw;
}

.footer-link {
  color: white;
  display: inline-block;
  font-size: 3vw;
}

.copyright {
  display: inline-block;
  margin: 5px 0;
  font-size: 2.5vw;
  font-style: italic;
}

.footer-image-one {
  border-radius: 10px 0 0 0;
}


@media only screen and (max-width: 1200px) {
  .present-section {
    width: 55%;
  }
  
  .graphic-section {
    width: 45%;
  }
}


@media only screen and (max-width: 992px) {
  .process-bar {
    width: 80%;
  }
  
  .present-section {
    width: 65%;
  }
  
  .graphic-section {
    width: 55%;
  }
}


@media only screen and (max-width: 768px) {
  
  body {
    font-size: 15px;
  }
  
  header {
    width: 100%;
  }
  
  .menu-btn > span {
    display: none;
  }
  
  .process-bar {
    width: 100%;
  }
  
  .present-section {
    width: 80%;
  }
  
  .graphic-section {
    width: 70%;
  }
  
  header > .menu {
    right: 10px;
  }
  
  .links > a {
    font-size: 15px;
    width: 350px;
  }
  
  .company > p {
    font-size: 12px;
  }
  
}


@media only screen and (max-width: 576px) {
  
  header > h4 {
    font-size: 18px;
  }
  
  .present-section {
    width: 100%;
  }
  
  .graphic-section {
    width: 90%;
  }
}


@media only screen and (max-width: 374px) {
  .links > a {
    width: 300px;
  }
}

